#show-contact {
  display: none;
}
h1, h2, h3, h4, h5 {
font-family: 'Dosis', sans-serif;
font-weight: 800;
}
label {
    font-size: 50px;
    border: 1px solid grey;
    cursor: pointer;
    display: block;
}
input[type="checkbox"], [type="radio"] {
    position:absolute;
    clip: rect(0,0,0,0);
    clip: rect(0 0 0 0);
}

input[type="checkbox"] + label::before {
    content: url('');
}

input[type="checkbox"]:checked + label::after {
    content: url('../img/thumbs-up.png');
    padding-left: 30px;
}

input[type="radio"]:checked + label::after {
    content: url('../img/pizza-icon-3.png');
    max-width: 30px;
}
